@use 'theme' as *;

aside.menu {
  position: relative;
  width: 80px;
  max-width: 300px;
  background-color: $grey;
  height: 100vh;

  .top-container {
    position: relative;

    .icon-button-container {
      margin: 15px 0 15px 15px;
      color: $white;
      text-align: center;

      svg {
        padding: 4px;
        box-sizing: border-box;
      }
    }

    .logo-container {
      display: flex;
      align-items: center;
      height: 72px;
      color: $white;

      h1 {
        margin: 0;
      }

      .company-moto {
        font-size: $font-s;
        opacity: 0.5;
      }

      svg {
        width: 40px;
        margin: 6px 12px 6px 16px;
      }
    }

    .user-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $white;
    }

    .icon-button-container {
      position: absolute;
      right: -20%;
      top: 25%;
      z-index: 999;
      background-color: $grey;
      padding: 8px;
    }
  }

  .menu-items-container {
    position: relative;
    top: 10%;

    .main-menu-category-title {
      padding: 0 20px;
      margin: 0;
      color: rgba(249, 249, 249, 0.3);
      text-transform: uppercase;
      font-size: $font-s;
      font-weight: 600;
      transition: text-align .2s ease-in-out 0s;
    }

    .main-menu-item {
      a {
        text-decoration: none;
        width: calc(100% - 30px);
        height: 45px;
        margin: 8px auto;
        padding: 0 10px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        border-radius: 8px;
        transition: width .2s ease-in-out 0s;
        transition: justify-content .2s ease-in-out .2s;

        &.active svg {
          path, circle, line {
            stroke: #dc670c;
          }
        }

        &:hover {
          background-color: rgba(249, 249, 249, 0.1);
          box-shadow: rgba(249, 249, 249, 0.16) 0px 0px 3px;
        }

        span {
          color: $white;
          font-weight: 300;
          margin: 0 $spacing-m;
        }

        svg {
          width: 24px;
        }
      }
    }
  }

  .bottom-container {
    position: absolute;
    bottom: 0;
    width: 100%;

    .logout-button {
      width: calc(100% - 32px);
      height: 45px;
      margin: 8px auto;
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: $white;
      box-sizing: border-box;
      border-radius: 8px;
      background: #dc670c;
      backdrop-filter: blur(5.1px);
      cursor: pointer;

      svg {
        width: 24px;
      }
    }

    .version-block {
      padding: 0 0 8px;
      color: $white;
      font-size: 12px;
      text-align: center;
    }
  }

  &.open {
    width: 275px;

    .top-container .icon-button-container {
      position: absolute;
      right: -5%;
      top: 25%;
    }
  }
}