
// COLORS

$light-grey: #88888c;
$dark-grey: #2C2D37;
$grey: #1A1B21;
$white: #f9f9f9;
$blue: #66b3ff;
$red: #9F0E0E;

// SPACINGS

$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 32px;

// FONT SIZES

$font-s: 12px;
$font-m: 16px;
$font-l: 24px;
$font-xl: 48px;